*.dart linguist-language=Dart
*.yaml linguist-language=Dart
*.yml linguist-language=Dart
*.json linguist-language=Dart
pubspec.yaml linguist-language=Dart
pubspec.lock linguist-language=Dart
*.md linguist-language=Dart
**/* linguist-language=Dart
